<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />

<style>
    body {
      margin: 0;
      padding: 0;
    }

    #map {
      width: 400px;
      height:500px;
    }

.marker {
  background-image: url('/images/mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
  </style>
  
<h1><%= post.title %></h1>
<div>Price : <%= post.price %></div>
<div>Description : <%= post.description %></div>
<div>Location : <%= post.location %></div>
<div id='map'></div>
<div>
    <% post.images.forEach(function(image){ %>
        <img src="<%= image.url %>" alt="image_surf_shop" width="200px" >
    <% }); %>    
</div>
<div>
    <a href="/post/<%= post.id%>/edit">
        <button>Edit Post</button>
    </a>
</div>
<div>
    <form action="<%= post.id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" />
    </form>
</div>
<script>
  var post = <%- JSON.stringify(post) %>;
    mapboxgl.accessToken = 'pk.eyJ1IjoiZ3VwdGFhc2hpc2giLCJhIjoiY2tjcWx5Z3NoMTY4ODJ5bGhyaDhzM3U5NCJ9.v_Zy_QRnf4hsQtAcHO2xkw';
    
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/light-v10',
      center: post.coordinates,
      zoom: 8
    });

// create a HTML element for each feature
var el = document.createElement('div');
el.className = 'marker';

// make a marker for each feature and add to the map
new mapboxgl.Marker(el)
  .setLngLat(post.coordinates)
  .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
    .setHTML('<h3>' + post.title + '</h3><p>' + post.location + '</p>'))
  .addTo(map);

</script>
